<?php
/** @var \Gamma\ITP\Block\Index $block */
?>
<h2><b>Title: </b><?php echo $block->getTitle('title') ?></h2>
<h2><b>Enable:</b>
    <?php
        $result = $block->getTitle('enable');
        if($result == 1){
            echo 'Yes';
        }else{
            echo 'No';
        }
    ?>
</h2>